{{> head}}
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>
                Past Lives
            </h1>
            <p>
                There's a war inside my mind
                But I'm the only one who fights
                And I get lost here every night 
                I'm just trying to survive
            </p>

        </div>

        <div class="col-4">
            <img src="assets/img/past.jpg" class="img-thumbnail">

        </div>

    </div>
{{> footer}}